/*
 * Empty Stylesheet file.
 */

.background
{
    -fx-pref-height: 400px;
    -fx-pref-width: 1200px;
    -fx-min-height: 400px;
    -fx-min-width: 1200px;
    -fx-max-height: 400px;
    -fx-max-width: 1200px; 
}

.table
{
    -fx-pref-height: 200px;
    -fx-pref-width: 1150px;
    -fx-min-height: 200px;
    -fx-min-width: 1150px;
    -fx-max-height: 200px;
    -fx-max-width: 1150px;

}
